################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Source/.vs/
/Source/QProductivityTools.Shell/obj/
/Dependencies/packages
/Source/QProductivityTools.Shell/bin/
